@model VehiclePortal.Common.ViewModels.BuyCarBindingModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-controller="Car" asp-action="Buy" method="post">
    <div class="mx-auto" style=" padding-top:10px;">
        <div class="mr-1">
            <button type="submit" class="btn btn-outline-warning text-light" style="background-color: darkorange">Confirm the payment</button>
        </div>
    </div>
    <input type="hidden" asp-for="CarId" value="@Model.CarId">
</form>