@model VehiclePortal.Common.ViewModels.RateCarBindingModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<VehiclePortal.Models.VehiclePortalUser> UserManager
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-controller="Car" asp-action="Rate" method="post">
    <div class="mx-auto" style="padding-top:10px;">
        <div class="mr-1">
            <input class="form-control" type="hidden" value="1" asp-for="Rating" />
            <span asp-validation-for="Rating" class="text-danger"></span>
            @if (@UserManager.GetUserAsync(User).Result.IsRated == true)
            {
                <p>You have already voted.</p>
            }
            else
            {
                <div>
                    <button type="submit" class="btn btn-outline-warning text-light" style="background-color: darkorange">Rate</button>
                </div>
            }
            <input type="hidden" asp-for="CarId" value="@Model.CarId">
        </div>
    </div>
</form>

