@model VehiclePortal.Common.ViewModels.RentCarBindingModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-controller="Car" asp-action="Rent" method="post">
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" date class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate"  class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="d-flex align-items-center">
        <button type="submit" class="btn btn-outline-success">Rent</button>
    </div>
    <input type="hidden" asp-for="CarId" value="@Model.CarId">
</form>