@model VehiclePortal.Common.ViewModels.CarDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>@Model.Brand</p>
<p>@Model.Rating</p>
@if (Model.Rating <= 5)
{
    <p>Awful</p>
}
<p>
    @await Html.PartialAsync("_RatePartial", new VehiclePortal.Common.ViewModels.RateCarBindingModel
                    {
                        CarId = Model.Id
                    })
</p>
<a asp-controller="Car" asp-action="Buy" asp-route-id="@Model.Id"><h4>Buy</h4></a>
<a asp-controller="Car" asp-action="Rent" asp-route-id="@Model.Id"><h4>Rent</h4></a>
