@model VehiclePortal.Common.ViewModels.EditCarViewModel
@using VehiclePortal.Models.Enums
@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-4 text-center"><i class="fas fa-edit" style="color: darkorange"></i> Edit</h1>

<div class="row">
    <div class="mx-auto w-50">
        <img src="@Model.SmallImageUrl" class="mx-auto d-block" />
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Features" class="control-label"></label>
                <textarea rows="6" cols="50" asp-for="Features" class="form-control"></textarea>
                <span asp-validation-for="Features" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="6" cols="50" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuel" class="control-label"></label>
                <select asp-for="Fuel" class="form-control dropdown-toggle col-lg-12" asp-items="Html.GetEnumSelectList<Fuel>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control dropdown-toggle col-lg-12" asp-items="Html.GetEnumSelectList<Category>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <select asp-for="Transmission" class="form-control dropdown-toggle col-lg-12" asp-items="Html.GetEnumSelectList<Transmission>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmallImageUrl" class="control-label"></label>
                <input asp-for="SmallImageUrl" class="form-control">
                <span asp-validation-for="SmallImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LargeImageUrl" class="control-label"></label>
                <input asp-for="LargeImageUrl" class="form-control" />
                <span asp-validation-for="LargeImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-outline-warning text-light" style="background-color: darkorange" />
            </div>
        </form>
    </div>
</div>