
@{
    ViewData["Title"] = "ApplicationError";
}

<style>
    h1 {
        left: 350px;
        line-height: 200px;
        margin: auto;
        margin-top: -100px;
        position: fixed;
        top: 50%;
        width: 100%;
    }
</style>

<div>
    <h1 class="display-4"><i class="fas fa-car" style="color: darkorange"></i> Ooops, something went wrong...
    </h1>

</div>
